<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

 <context-param>
 	<param-name>maxUplodFileSize</param-name>
 	<param-value>10485760</param-value>
 </context-param>
 
 <context-param>
 	<param-name>maxUploadFileCount</param-name>
 	<param-value>10</param-value>
 </context-param>
 
 <!-- 
 	Http 응답코트 404
 			요총 URL이 올바르지 않거나, 요청URL에 해당하는 파일을 찾을 수 없는 경우
 			클라이언트측에서 주소를 주소를 잘못입력한 경우
  -->
 <error-page>
 	<error-code>404</error-code>
 	<location>/error/filenotfound.jsp</location>
 </error-page>

<!-- 
	Http 응답코드 500
			클라이언트의 요청을 처리하는 도중 에러가 발생한 경우
			대체적으로 jsp나, Dao, Service등의 서버측 프로그램이 실행되는 도중 에러가 발생한 경우
 -->
 <error-page>
 	<error-code>500</error-code>
 	<location>/error/serverError.jsp</location>
 </error-page>
</web-app>
